.intro {
  font-size: 22px;
  font-weight: bold;
}

.quizFormContainer {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.quizTitle {
  font-size: 18px;
  font-weight: bold;
}

.quizForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
}

.quizQuestion {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.quizQuestions {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.quizLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0px;
}

.quizLabelOptions {
  padding: 8px 0;
  border: 1px solid black;
  border-radius: 8px;
}

.quizOption {
  display: flex;
}

.quizOption div {
  width: 95%;
}

.quizLabelOption {
  margin: 4px 12px;
}

.create {
  width: 50%;
  margin: auto;
}

.quizSubmit {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.quizSelect {
  padding: 8px;
  border-radius: 8px;
}

.error {
  color: var(--red-color);
}
