.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 20px;
}

.container {
  max-width: 768px;
  margin: auto;
}

.container .btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 12px;
}

.editorPage {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.createQuiz {
  width: 150px;
}
