.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.6;
}

.btnBgRed {
  background-color: var(--red-color);
  color: white;
}

.btnBgBlue {
  background-color: var(--primary-color);
  color: white;
}

.btnBgBlack {
  background-color: black;
  color: white;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}
